NEXT_PUBLIC_BRAND_NAME=Open News Outlet
DATABASE_URL=postgres://postgres:development@localhost:5432/open-news-outlet
NEXT_PUBLIC_BASE_URL=http://localhost:3000
BETTER_AUTH_SECRET=insecure
RESEND_API_KEY=
RESEND_EMAIL=